name: 模块同步

on:
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: 设置 Python 环境
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          architecture: 'x64'

      - name: 缓存 Python 依赖
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            **/__pycache__
          key: ${{ runner.os }}-python-${{ hashFiles('** /requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-python-

      - name: 安装 Python 依赖 mwclient
        run: |
          python -m pip install --upgrade pip
          pip install mwclient
      #        if: steps.cache-python.outputs.cache-hit != 'true'  # 新增：仅缓存未命中时执行

      - env:
          WIKIGG_USER_PASSWORD: ${{ secrets.WIKIGG_USER_PASSWORD}}
          WIKIGG_USER: ${{ secrets.WIKIGG_USER }}
          BWIKI_SESSION_DATA: ${{ secrets.BWIKI_SESSION_DATA}}
          HUIJI_USER: ${{ secrets.HUIJI_USER }}
          HUIJI_USER_PASSWORD: ${{ secrets.HUIJI_USER_PASSWORD }}
          UAKEY: ${{ secrets.UAKEY }}
        run: python -u ./transModule.py