name: 全页面同步

on:
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  main:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: 设置 Python 环境
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          architecture: 'x64'

      - name: 安装 Python 依赖 mwclient
        run: |
          python -m pip install --upgrade pip
          pip install mwclient

      - env:
          PYTHONIOENCODING: utf-8
          WIKIGG_USER_PASSWORD: ${{ secrets.WIKIGG_USER_PASSWORD}}
          WIKIGG_USER: ${{ secrets.WIKIGG_USER }}
          BWIKI_SESSION_DATA: ${{ secrets.BWIKI_SESSION_DATA}}
          HUIJI_USER: ${{ secrets.HUIJI_USER }}
          HUIJI_USER_PASSWORD: ${{ secrets.HUIJI_USER_PASSWORD }}
          UAKEY: ${{ secrets.UAKEY }}
        run: python -u ./transferallpages.py